body {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.60);
	font-size: 16px;
	background-color: #EEEEEE;
}

hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #FFFFFF;
}

.hr2 {
	border-top: 1px dashed #DDDDDD;
	border-bottom: 1px dashed #FFFFFF;
}




.page {
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	padding: 20px;
	padding-top: 12px;
	padding-right: 30px;
	color: rgba(0,0,0,0.75);
	margin: 6px;
	margin-bottom: 20px;
}

.material-icons {
	vertical-align: bottom;
	font-size: 26px;
}

#skills .panel {
	border: 0px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
#skills .panel-default {
	border: 0px;
}
#skills .panel-heading {
	font-weight: 500;
	color: #FFFFFF;
	border-bottom: 0px;
}
#skills .panel-body {
	color: #676767;
	font-weight: 500;
}

#career .panel {
	border: 0px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
#career .panel-default {
	border: 0px;
}
#career .panel-heading {
	font-weight: 500;
	color: #FFFFFF;
	border-bottom: 0px;
}
#career .panel-body {
	color: #FFFFFF;
	font-weight: 500;
}

#age {
	font-weight: 500;
	font-size: 18px;
}

.project {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	text-align: center;
	font-weight: 500;
}
.btn-github, .btn-demo {
	text-transform: uppercase;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	cursor: pointer;
	color: #FFFFFF;
	width: 180px;
	height: 40px;
	font-weight: 500;
	text-align: center;
	margin: 6px;
}
.btn-github i, .btn-demo i {
	font-size: 28px;
	margin-right: 10px;
	vertical-align: middle;
}
.btn-github:hover, .btn-demo:hover {
	color: #FFFFFF;
}
.btn-github:active, .btn-demo:active {
	color: #FFFFFF;
}
.btn-github:focus, .btn-demo:focus {
	color: #FFFFFF;
}

.btn-github {
	background-color: #212121;
}
.btn-demo {
	background-color: #b71c1c;
}


.btn-vcenter {
	margin-top: 30px;
	margin-bottom: 30px;
}


.btn-animated {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
}
.btn-animated::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-animated:hover::before{
	opacity: 0;
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.btn-animated::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background-color: rgba(255,255,255,0.1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scale(0.5,0.5);
	transform: scale(0.5,0.5);
}
.btn-animated:hover::after{
	opacity: 1 ;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

.vk {
	width: 32px;
	height: 32px;
	position: relative;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADJklEQVRYR2P0KV38n2EAAeOoA0ZDYDQEhmQI8HKxM/BwsoFLjx+//jC8//yd7JIEpRyQExdgsNCRYWBmYmJgYmRkACKG09efMtx89AZsATfQ0vYMVwZFSUEUCx+/+siQ17+V4c/ff3BxEQEuBgcDRaAZEHMYgBhk5uGLDxmevv4EV4fiABcTZYb8MEsUw99+/MaQ3L6e4e8/SIEpLsTDMKXIh4GDjQVFXWrHBoYX777AxYoirBgcjZQwQmbK2hMMO0/ewe4ANhZmhrlVgQwCPBwoGvtWHGPYf+4eXKw1zYVBT0UCRU1i2zqGNx++gcWE+DgZ5lYGMrAwM6Go+fjlB0Nq50aG7z9/Y3cASDTIXosh0dsIReOzN58Zsns3w4O4Ms6OwUpHDkVNTOMaho9ff4DFMgPNGLws1TB837v8KMOB8/dRxDHqAnZWFoY5lQEYoTBvy1mG9YeugzWXR9sy2OjLoxgU1bCK4fO3XwwKwPQxId8LmI5AEY8Ahy48YOhedgTDUVgrI5DrQb5ABqDUDkpoz99+ZmhOdWYwUJXEcMD3n38YenM8GJSkhVDkQImucNJ2lKCHKcDqAJDrJwMTmqwYP4pBD198YJi+/hRDbYIDOEcgg1mbzjDoKIoxWOmiRs2v33/Blj96+QHD9yABnNUxKJGBEhulYNXeKwyLd17AaQze9kBeqCWDq6kyRW7Yf+4+Q9+Ko+Q5gIuDFZygJIV5KXLExsM3GOZuOcPwH0vbi2CLSEFCgKEr252Bk50VryN+/fnL8OnrTwYRfi6s6nacuM0wdd1J4nIBuipdZXGGukRHjNIPWR2ohNt75h5DRawdg7mWDFZHLN99iWEZECMDgiEAUwyqJ4ojrRmUpFDrAZh8etdGBlCBxcbKzNACTLya8qIYjgBFQcmU7Qy3Hr+FyxHtAHCWAVYm1npyDKA6Q0tBFB4toAIoCVgUg8oKEOAGpp2CcCsGC21ZFEeA6pOe5UcYjgArJLzlALEpDpRIQY76CbQYuSaE6eflYmNgBdYvIIv//fsHVPeXAZRWyIoCYh1FqjqSooBUw4lRP+qA0RAYDQEAyhlAkAj3QQIAAAAASUVORK5CYII=);
	border-radius: 4px;
}
.strava {
	width: 32px;
	height: 32px;
	position: relative;
	background-image: url(images/strava2.png);
	border-radius: 4px;
}

h1 {
	color: #676767;
	font-weight: 500;
}
h2 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 18px;
}

.sec p {
    text-indent: 10px;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.whitenav {
	background-color: #FFFFFF;
	border-radius: 0px;
	color: #676767;
	font-weight: 500;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-color: #FFFFFF;
}
.whitenav .navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 24px;
}
.whitenav .navbar-brand:hover {
	color: #676767;
}

.whitenav .navbar-nav>li>a {
	color: #676767;
	transition: all 0.3s ease;
}
.whitenav .navbar-nav>li>a:hover {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a:hover {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a:active {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a:focus {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggle:focus {
    color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}

.centered {
	float: none;
    margin: 0 auto;
}


.sec {
	margin-top: 2px;
	margin-bottom: 20px;
}

.


.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
