body {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.60);
	font-size: 15px;
	background-color: #EEEEEE;
}

hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover {
    background-color: #4db6ac;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}


.page {
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	padding: 10px;
}


.vk {
	width: 32px;
	height: 32px;
	position: relative;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADJklEQVRYR2P0KV38n2EAAeOoA0ZDYDQEhmQI8HKxM/BwsoFLjx+//jC8//yd7JIEpRyQExdgsNCRYWBmYmJgYmRkACKG09efMtx89AZsATfQ0vYMVwZFSUEUCx+/+siQ17+V4c/ff3BxEQEuBgcDRaAZEHMYgBhk5uGLDxmevv4EV4fiABcTZYb8MEsUw99+/MaQ3L6e4e8/SIEpLsTDMKXIh4GDjQVFXWrHBoYX777AxYoirBgcjZQwQmbK2hMMO0/ewe4ANhZmhrlVgQwCPBwoGvtWHGPYf+4eXKw1zYVBT0UCRU1i2zqGNx++gcWE+DgZ5lYGMrAwM6Go+fjlB0Nq50aG7z9/Y3cASDTIXosh0dsIReOzN58Zsns3w4O4Ms6OwUpHDkVNTOMaho9ff4DFMgPNGLws1TB837v8KMOB8/dRxDHqAnZWFoY5lQEYoTBvy1mG9YeugzWXR9sy2OjLoxgU1bCK4fO3XwwKwPQxId8LmI5AEY8Ahy48YOhedgTDUVgrI5DrQb5ABqDUDkpoz99+ZmhOdWYwUJXEcMD3n38YenM8GJSkhVDkQImucNJ2lKCHKcDqAJDrJwMTmqwYP4pBD198YJi+/hRDbYIDOEcgg1mbzjDoKIoxWOmiRs2v33/Blj96+QHD9yABnNUxKJGBEhulYNXeKwyLd17AaQze9kBeqCWDq6kyRW7Yf+4+Q9+Ko+Q5gIuDFZygJIV5KXLExsM3GOZuOcPwH0vbi2CLSEFCgKEr252Bk50VryN+/fnL8OnrTwYRfi6s6nacuM0wdd1J4nIBuipdZXGGukRHjNIPWR2ohNt75h5DRawdg7mWDFZHLN99iWEZECMDgiEAUwyqJ4ojrRmUpFDrAZh8etdGBlCBxcbKzNACTLya8qIYjgBFQcmU7Qy3Hr+FyxHtAHCWAVYm1npyDKA6Q0tBFB4toAIoCVgUg8oKEOAGpp2CcCsGC21ZFEeA6pOe5UcYjgArJLzlALEpDpRIQY76CbQYuSaE6eflYmNgBdYvIIv//fsHVPeXAZRWyIoCYh1FqjqSooBUw4lRP+qA0RAYDQEAyhlAkAj3QQIAAAAASUVORK5CYII=);
	border-radius: 4px;
}
.strava {
	width: 32px;
	height: 32px;
	position: relative;
	background-image: url(images/strava2.png);
	border-radius: 4px;
}

.bottomlink {
	position: relative;
	padding: 6px;
}


h1 {
	color: #676767;
}

.sec p {
    text-indent: 10px;
    padding-top: 10px;
}


.whitenav {
	background-color: #FFFFFF;
	border-radius: 0px;
	color: #676767;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-color: #FFFFFF;
}
.whitenav .navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 24px;
}
.whitenav .navbar-brand:hover {
	color: #676767;
}

.whitenav .navbar-nav>li>a {
	color: #676767;
	transition: all 0.3s ease;
}
.whitenav .navbar-nav>li>a:hover {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a:hover {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a:active {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.whitenav .navbar-nav>.active>a:focus {
	color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggle:focus {
    color: #676767;
	background-color: rgba(0, 0, 0, 0.1);
}

.centered {
	float: none;
    margin: 0 auto;
}


.sec {
	margin-top: 2px;
	margin-bottom: 20px;
}

.


.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
